<body>
  <div class=pp-outer>
    <div class="pp-container">
      <img class="hidden-bg"
        src="https://res.cloudinary.com/dx1lohfl5/image/upload/v1/media/f6cd9466-9ab9-11ea-afe7-33b0dd7d937f/image/8d1542b2-340c-4053-9566-fa97fe1126c7.jpg">
      <div class="pinnock-book">
        <a href="https://www.amazon.co.uk/Medicinal-Chef-The-Nutrition-Bible/dp/178713251X/ref=cooklybookly">
          <img
            src="https://res.cloudinary.com/dx1lohfl5/image/upload/v1/media/f6cd9466-9ab9-11ea-afe7-33b0dd7d937f/image/3fa0644f-b3bc-4910-a78c-7f1a3c722e0c.jpg">
          <p>Latest book</p>
        </a>
      </div>
      <div class="strapline">
        <div class="strapline-the">The</div>
        <div class="strapline-medicinal">Medicinal</div>
        <div class="strapline-chef">chef</div>
      </div>
    </div>
    <div class="pp-buttons">
      <ul>
        <li><a href="https://www.dalepinnock.com/books/">My books</a></li>
        <li><a href="https://www.dalepinnock.com/tv/">TV</a></li>
        <li><a href="https://www.dalepinnock.com/podcast-3/">Podcast</a></li>
        <li><a href="https://www.dalepinnock.com/contact/">Contact</a></li>
      </ul>
    </div>
  </div>
</body>