  body {
    margin: 0;
    padding: 0;
  }

  .pp-outer {
    max-width: 1000px;
  }
  .pp-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    max-width: 1000px;
    background-color: #bbd4d1;
    color: white;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-size: 20px;
    background: no-repeat url(https://res.cloudinary.com/dx1lohfl5/image/upload/v1/media/f6cd9466-9ab9-11ea-afe7-33b0dd7d937f/image/8d1542b2-340c-4053-9566-fa97fe1126c7.jpg) 50% / 100%;
  }

  .pp-container .hidden-bg {
    vertical-align: top;
    width: 100%;
    opacity: 0;
  }

  .pp-container ul {
    padding: 0;
    margin: 0;
  }

  .pinnock-book {
    position: absolute;
    left: 5%;
    top: 18%;
    height: 85%;
    max-width: 125px;
    text-align: center;
    font-size: 70%;
  }

  .pinnock-book a img {
    padding: 0px;
    height: 80%;
    text-decoration: none;
  }

  .pinnock-book p {
    margin: 0;
    padding-bottom: 5px;
    text-align: center;
    color: black;
    font-weight: 100;
  }

  .pinnock-book p a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
    font-size: 14px;
  }

  .strapline {
    position: absolute;
    top: 35%;
    left: 30%;
    color: rgb(49, 49, 49);
    font-size: 4vw;
    height: 15%;
  }

  .strapline-the {
    font-family: 'Merriweather', serif;
    font-size: 100%;
    line-height: 50%;
  }

  .strapline-medicinal {
    position: relative;
    top: 0%;
    left: -10%;
    font-family: 'Merriweather', serif;
    font-size: 120%;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 130%;
  }

  .strapline-chef {
    position: relative;
    top: -40%;
    left: 20%;
    font-family: 'Merriweather', serif;
    font-size: 120%;
    font-weight: 800;
    text-transform: uppercase;
  }

  .pp-buttons {
    position: relative;
    width: 100%;
    background-color: #4b4b4b;
    padding: 10px 0;
    margin-bottom: 10px;
  }

  .pp-buttons ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
  }

  .pp-buttons li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 7px 16px;
    font-size: 16px;
    font-weight: 500;
    transition: all .2s ease-in-out;
    font-family: montserrat, sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  .pp-buttons li a {
    text-decoration: none;
    color: white;
  }

  @media (min-width: 1000px) {
    .strapline {
      font-size: 2.5rem;
      top: 95;
    }
  }

  @media (max-width: 600px) {
    .pp-container {
      display: flex;
      flex-direction: column;
      font-size: 18px;
    }
    .pp-buttons li {
      font-size: 12px;
    }
    .pinnock-book p a {
      font-size: 12px;
    }

  }